@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}
h1 {
  font-family: "Inter", sans-serif;
  font-size: 60px;
}

p {
  font-family: "Inter", sans-serif;
}

.container1 {
  display: flex;
  justify-content: space-between;
  padding: 100px;
}

.container2 {
  display: flex;
  justify-content: space-between;
  padding: 100px;
}

.container3 {
  display: flex;
  justify-content: space-between;
  padding: 100px;
}

.container4 {
  display: flex;
  justify-content: space-between;
  padding: 100px;
}

.text {
  padding: 50px;
}
