* {
  margin: 0;
  padding: 0;
}

.productList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
  gap: 1rem;
  margin: 0 1rem;
}

.productCard {
  font-family: "Inter", sans-serif;
  position: relative;
  text-decoration: none;
  color: black;
}

.colors {
  position: absolute;
  left: 15px;
  top: 15px;
  display: flex;
  gap: 0.5rem;
}

.colorContainer {
  height: 20px;
  width: 20px;
  border-radius: 100%;
  border: 1px solid black;
}

.colorContainer span {
  display: flex;
  border-radius: 100%;
  border: 1px solid white;
  /* background-color: green; */
  width: 100%;
  height: 100%;
}

.secondContainer {
}

.listImage {
  background-color: #f2f2f2 !important;
}

.productImage,
.productImage2 {
  width: 100%;
  margin: 45px 0;
  filter: contrast(90%);
}

.productImage2 {
  display: none;
}

.productInfo {
  display: flex;
  flex-direction: column;
}

.productInfo a {
  text-decoration: none;
  color: black;
}

.cardTitle {
  font-size: 13px;
  font-weight: 500;
  line-height: 20px;
}

.cardPrice {
  font-weight: 300;
  font-size: 12px;
  line-height: 20px;
}
