/* font-family: 'Inter', sans-serif; */
:root {
    --main-font: 'Inter', sans-serif;
}

.color {
    border: 1.3px solid black;
    border-radius: 50%;
    width: 16px;
}

.product {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: auto;
    margin-left: 7rem;
    margin-right: 7rem;
}

.text {
    grid-column: 2/3;
    top: 0;
    position: -webkit-sticky;
    position: sticky;
    height: 10vh;
}

.gallery {
    grid-column: 1/2;
    display: flex;
}

.pics img {
    width: 80%;
}

.pics {
    text-align: center;
}

.small-pics img {
    width: 80px;
    height: 80px;
}

/* .small-pics {
    display: flex;
    justify-content: center;
} */

.sticky-scroll {
    top: 25vh;
    position: -webkit-sticky;
    position: sticky;
    height: 100px;
    display: flex;
    justify-content: center;
}

h1 {
    font-family: var(--main-font);
    font-size: 28px;
    line-height: 40px;
    font-weight: 200;
}

.price {
    font-family: var(--main-font);
    font-size: 17px;
    line-height: 23px;
    font-weight: lighter;
}

.description {
    color: rgba(0,0,0,0.51);
    font-family: var(--main-font);
}

h3 {
    font-family: var(--main-font);
    font-size: 15px;
}

.color {
    background-color: aqua;
}

.quantity{
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0,0,0,0.11);
}
.quantity input {
    border: 0;
    width: 30px;
    text-align: center;
}
.input {
    width: 10px;
}

.down, .up {
    font-family: var(--main-font);
    font-weight: lighter;
    font-size: 22px;
    cursor: pointer;
}

.add-to-cart {
    display: flex;
    margin-left: 0.8rem;
    margin-top: 1rem;
}

.add-to-cart button {
    font-family: var(--main-font);
    bottom: 0;
    left: 0;
    width: calc(100% - 74px);
    background-color: black;
    color: white;
    border: none;
    padding: 10px;
    margin-left: 1.5rem;
}