/* font-family: 'Inter', sans-serif; */
:root {
    --main-font: 'Inter', sans-serif;
}

.color {
    border: 1.3px solid black;
    border-radius: 50%;
    width: 16px;
}

.product {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: auto;
    margin-left: 7rem;
    margin-right: 7rem;
}

.text {
    grid-column: 2/3;
    top: 0;
    position: -webkit-sticky;
    position: sticky;
    height: 115vh;
}

.gallery {
    grid-column: 1/2;
    display: flex;
}

.pics img {
    width: 80%;
}

.pics {
    text-align: center;
}

.small-pics img {
    width: 80px;
    height: 80px;
}

/* .small-pics {
    display: flex;
    justify-content: center;
} */

.sticky-scroll {
    top: 25vh;
    position: -webkit-sticky;
    position: sticky;
    height: 100px;
    display: flex;
    justify-content: center;
}

h1 {
    font-family: var(--main-font);
    font-size: 28px;
    line-height: 40px;
    font-weight: 200;
}

.price {
    font-family: var(--main-font);
    font-size: 17px;
    line-height: 23px;
    font-weight: 400;
}

.description {
    color: rgba(0,0,0,0.51);
    font-weight: 300;
    font-family: var(--main-font);
    line-height: 1.6;
}

h3 {
    font-family: var(--main-font);
    font-size: 15px;
}

.color {
    background-color: #7be1e5;
}

.quantity{
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    border: 1px solid rgba(0,0,0,0.11);
}
.quantity input {
    border: 0;
    width: 30px;
    text-align: center;
}

.down, .up {
    font-family: var(--main-font);
    font-weight: lighter;
    font-size: 22px;
    cursor: pointer;
}

.add-to-cart {
    display: flex;
    margin-top: 1rem;
}

.add-to-cart button {
    font-family: var(--main-font);
    bottom: 0;
    left: 0;
    width: calc(100% - 74px);
    background-color: black;
    color: white;
    border: none;
    padding: 10px;
    margin-left: 1.5rem;
    cursor: pointer;
}

.wishlist {
    font-family: var(--main-font);
    display: flex;
    font-size: 12px;
    font-weight: 300;
    border-bottom: 1px solid rgba(0,0,0,0.11);
    width: 105px;
    margin-top: 1rem;
}

.wishlist::before {
    content: url(img/wishlist-icon.svg);
    height: 11px;
    width: 11px;
    margin-right: 5px;
}

.inner-dropdown, .inner-dropdown1 {
    font-family: var(--main-font);
    font-weight: lighter;
    font-size: 12px;
    border-bottom: 1px solid rgba(0,0,0,0.11);
}

.inner-dropdown {
    margin-top: 2rem;
    border-top: 1px solid rgba(0,0,0,0.11);
}

.inner-dropdown1 {
    margin-top: 0;
}
.toggle-dropdown svg {
    margin-top: auto;
    margin-bottom: auto;
}

.dp svg {
    margin-top: auto;
    margin-bottom: auto;
}

.dp {
    display: flex;
    justify-content: space-between;
}

input[type=checkbox]{
    display: none;
}

.info {
    height: 0px;                        
    overflow: hidden;     
    transition: height 0.2s ease-in; 
}

input[type=checkbox]:checked ~ .info {
    display:block;
    height: 5rem;
}

.add-to-cart svg {
    margin-top: auto;
    margin-bottom: auto;
}

.dr {
    display: flex;
    justify-content: space-between;
}

input[type=checkbox]{
    display: none;
}

.dandr {
    height: 0px;                       
    overflow: hidden;     
    transition: height 0.2s ease-in; 
}

input[type=checkbox]:checked ~ .dandr {
    height: 21rem;
    display:block;
}

.info li, .dandr {
    list-style: none;
    line-height: 1.6;
    font-size: 14px;
    color: rgba(0,0,0,0.51);
}