#sustainability-hero {
  display: flex;
  justify-content: center;
  column-gap: 100px;
  margin-top: 40px;
}

#sustainability-hero > div:first-child {
  width: 42%;
  margin-top: 40px;
}

#sustainability-hero > div:first-child p {
  margin-top: 30px;
  margin-bottom: 70px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 300;
}

#sustainability-hero > div:first-child h2 {
  font-weight: 300;
  font-size: 1.8rem;
}

#sustainability-hero > div:last-child img {
  object-fit: cover;
}

#sustainability-hero h1 {
  font-size: 3.5rem;
  line-height: 3.8rem;
}

#sustainability-video {
  margin-top: 120px;
  display: flex;
  justify-content: center;
  column-gap: 80px;
}
#sustainability-video video {
  width: 40% !important;
  height: auto !important;
}

#sustainability-video h2 {
  font-weight: 300;
  font-size: 3rem;
  margin-bottom: 20px;
}

#sustainability-video h3 {
  font-weight: 300;
  font-size: 1.2rem;
  width: 70%;
}

#sustainability-video div {
  margin-top: 30px;
  width: 40%;
}

#sustainability-future {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
}

#sustainability-future div {
  display: flex;
  padding: 30px 100px;
  column-gap: 30px;
  justify-content: center;
}

#sustainability-future div p {
  font-size: 16px;
  line-height: 20px;
  font-weight: 300;
  width: 40%;
}

#sustainability-future h2 {
  font-weight: 300;
  font-size: 2.5rem;
  margin-bottom: 20px;
  text-align: center;
}

#sustainability-water {
  margin-top: 120px;
}

#sustainability-water > div {
  position: relative;
  display: flex;
  justify-content: center;
}

#sustainability-water > div > div {
  position: absolute;
  top: 30px;
  padding-top: 20px;
}

#sustainability-water > div img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  opacity: 0.5;
}

#sustainability-water h2 {
  font-weight: 300;
  font-size: 6rem;
  margin-bottom: 0px;
  text-align: center;
}

#sustainability-water h3 {
  font-weight: 300;
  font-size: 2.6rem;
  margin-bottom: 20px;
  text-align: center;
}

#sustainability-water > div > div > div {
  display: flex;
  justify-content: center;
  margin: 60px 100px 0px 100px;
  column-gap: 60px;
}

#sustainability-water > div > div > div p {
  font-weight: 300;
  width: 40%;
}

#sustainability-shipping {
  margin-top: 120px;
  display: flex;
  column-gap: 120px;
  font-weight: 300;
}

#sustainability-shipping img {
  opacity: 0.6;
  object-fit: cover;
}

#sustainability-shipping > div:last-child {
  margin-top: 80px;
}

#sustainability-shipping > div:last-child h2 {
  font-weight: 300;
  font-size: 3rem;
}

#sustainability-shipping > div:last-child p {
  margin: 30px 0px;
  width: 80%;
  line-height: 20px;
}

.other-initiatives {
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.other-initiatives h2 {
  font-weight: 300;
  font-size: 3rem;
}

.other-initiatives > div {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.other-initiatives > div a {
  color: black;
  font-weight: 300;
  font-size: 1.6rem;
}

.other-initiatives > div a:first-child {
  margin-right: 70px;
}
