* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

.susTitle {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 3rem 0;
}

.susTitle h1 {
  font-size: 3rem;
  font-weight: 400;
}

.susTitle h2 {
  font-size: 1.5rem;
  font-weight: 400;
}

.susNavigation {
  width: 95%;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  padding-bottom: 5rem;
}

.susNavigation div {
  width: 100%;
  min-height: 370px;
  overflow: hidden;
  position: relative;
}

.susNavigation div img {
  height: 100%;
  width: 100%;
}
/* .susNavigation img {
  width: 100%;
} */

.learnMore {
  position: absolute;
  top: 40%;
  color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
  width: 100%;
  gap: 1rem;
}

.learnMore h3 {
  font-size: 2rem;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.238);
}

.learnMore a {
  color: black;
  text-decoration: none;
  padding: 1rem;
  background-color: white;
  width: 45%;
  margin: 0 auto;
}

.learnMore a:hover {
  background-color: #85b4d7;
  transition: 0.5s;
}

@media screen and (max-width: 780px) {
  .susNavigation {
    flex-direction: column;
  }
}
