:root {
    --main-font: 'Inter', sans-serif;
}

.working_conditions img {
    height: 100%;
    width: 400px;
}

h1, p , h2{
    font-family: var(--main-font);
}

.title {
    margin-top: auto;
    margin-bottom: auto;
}

h1 {
    font-size: 3rem;
    font-weight: 400;
    width: 20rem;
}

p {
    width: 30rem;
}

.titlesection {
    gap: 1rem;
    margin: 3rem 0;
    margin-top: 10vh;
    display: flex;
    justify-content: space-around;
}

.text1, .text2 {
    margin: 3rem 0;
    margin-top: 10vh;
    display: flex;
    justify-content: space-around;
}

.text1 img {
    margin-left: 0;
}